@font-face {
    font-family: "Rudiment";
    src: url("../fonts/Rudiment.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Rudiment.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Rudiment.otf") format("opentype"), /* Open Type Font */
      url("../fonts/Rudiment.svg") format("svg"), /* Legacy iOS */
      url("../fonts/Rudiment.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/Rudiment.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Rudiment.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }